<div>

    <div>
        <h2>Requests from your employees</h2>
        <br>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Inan</td>
                    <td>Increase roti quantity please!!</td>
                    <td>09/12/21</td>
                </tr>
                <tr>
                    <td>Inan</td>
                    <td>Increase roti quantity please!!</td>
                    <td>09/11/21</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>