<div >

    <div >
        <h2>Requests from your employees</h2>
        <br>
        <br>
        <table class="table table-striped" border = "1">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Product</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody *ngFor = "let request of requests" >
                <tr>
                    <td>{{request.employeeEmail}}</td>
                    <td>{{request.name}}</td>
                    <td>{{request.action}}</td>
                    <button (click) = "deleteRequest(request._id)">Delete</button>
                </tr>
                
            </tbody>
        </table>
        <br>
        
    </div>
</div>