<div>

    <div>
        <h2>Delete an employee</h2>
        <br>
        <br>
        <form [formGroup]="employeeRef" (ngSubmit)="deleteEmployee()">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email of employee:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="email_address" required>
                </div>
            </div>
            <button type="submit" class="btn admin">Delete</button>

        </form>
        <br>
        {{msg}}

    </div>
</div>